<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtd_client.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mtd_client.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mtd_client.app.TargetListView"
            android:label="@string/title_activity_target_list_view" >
        </activity>

        <service
            android:name="com.example.mtd_client.app.WebSocketService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.example.mtd_client.app.CameraShot"
            android:label="@string/title_activity_camera_shot" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>
